*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins";
}
/* for navigation links*/
.nav-bar{
    margin-left: auto;
    list-style: none;
}
.nav-bar li{
    display: inline-block;
}
.navbar li a{
    color: #0000ff;
    text-decoration: none;
    font-family: "Poppins";
    font-size: medium;
} 

/*for dropdown menu*/
.dropdown{
    display: none;
}
.nav-bar li:hover .dropdown{
    display: block;
    position: absolute;
    background: #38afcd;
}
.nav-bar li:hover .dropdown li{
    display: block;
    margin: 10px;
}
.nav-bar li:hover .dropdown li{
    width: 240px;
    padding: 10px;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    text-align: left;
}
.nav-bar li:hover .dropdown li:last-child{
    border-bottom: none;
}
.nav-bar li:hover .dropdown li a:hover{
    color: #000000;
}
h3
{   font-size: 20px;
    font-weight: 700;
    color: #adff2f;
}

/* for content*/
.copy ul li{
    text-decoration: none;
}
a{
    text-decoration: none;
    text-align:center;
}
a:hover{
    text-decoration: underline;
}
.small{
    font-size: 15px;
}
.split-screen{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
}.first{
    height: 100vh;
    width: 50%;
}
.first, .second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first{
    background-image: url('../IMAGES/debs.jpg');
    background-size: cover;
}
.first .copy{
    text-align: center;
}
.first p{
    font-weight: 400;
    color: #ffffff;
}
.first ul{
    list-style: none;
}
.first ul li{
    text-decoration: none;
}
.first li{
    color: #ffffff;
}

/*for form*/
.second{
    height: 100vh;
    width: 50%;
}
.second .copy{
    color: #000000;
    text-align: center;
    justify-content: center
}
.second form{
    width: 100%;
    text-align: center;
}
form input[type="text"]
form input[type="email"]
form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #000000;
    padding: 1em;
    margin-bottom: 15px;
    font-size: 15px;
}
label{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}
.input-container.password{
    position: relative;
}
.input-container.password i{
    position: absolute;
    top: auto;
    right: auto;
} 
.checkbox-conatiner input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.signup-btn{
    display: block;
    width: 100%;
    color: #000000;
    font-weight: 700;
    border: none;
    padding: 1rem;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.signup-btn:hover{
    background: #adff2f;
    cursor: pointer;
}

/*for footer*/
.container1{
    max-width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    margin-top: 10px;
}
.end{
    background-color: #ff4500;
    padding: 15px;
}
.end-col{
    width: 25%;
    padding: 12px 0;
}
.end-col h4{
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
}
.end-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #adff2f;
    height: 2px;
    box-sizing: border-box;
    width: 40px;
} 
.end-col ul li:not(:last-child){
    margin-bottom: 5px;
}
.end-col ul li a{
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    /* display: block; */
    transition: all 0.2s ease;
}
.end-col ul li a:hover{
    color: #adff2f;
    padding: 5px;
}.end-col .socialmedia a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.2s ease;
}
.end-col .socialmedia a:hover{
    color: #000000;
    background-color: #ffffff;
}


