*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins";
    box-sizing: border-box;
    width: 100%;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url('../IMAGES/m4.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

/*for navigation links*/
.nav-bar{
    margin-left: auto;
    list-style: none;
}
.nav-bar li{
    display: inline-block;
}
.navbar li a{
    color: #0000ff;
    text-decoration: none;
    font-family: "Poppins";
    font-size: medium;
} 

/*for dropdown menu*/
.dropdown{
    display: none;
}
.nav-bar li:hover .dropdown{
    display: block;
    position: absolute;
    background: #38afcd;
}
.nav-bar li:hover .dropdown li{
    display: block;
    margin: 10px;
}
.nav-bar li:hover .dropdown li{
    width: 240px;
    padding: 10px;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    text-align: left;
}
.nav-bar li:hover .dropdown li:last-child{
    border-bottom: none;
}
.nav-bar li:hover .dropdown li a:hover{
    color: #000000;
}

/*for header content*/
.information{
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}
.information h1{
    color: #ff4500;
    margin-bottom: 0;
}
h3{
    color: #ff4500;
    text-align: center;
}
.theme{
    /* margin-top: 10px; */
    text-align: center;
    font-size: 20px;
}
.theme p{
    color: #ffa500;
    line-height: 1.5;
    margin: 0;  
    font-weight: 700; 
}
.theme p:hover{
    color: #ffffff;
}

/*for body content*/
.introduction{
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}
.introduction p::first-letter{
    font-size: x-large;
}
h1{
    color: #ff4500;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

/*used for the three parts of the section*/
.container{
    width:100%;
    height: 100vh;
    display: flex;
    background: #faebd7;
    margin: 100px 0;
}
.pane{
    height: 100%;
    flex: 1;
    color: #000000;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    transition: 0.5s;
    justify-items: center;
}
.pane:nth-child(1){
    background: #ffa500;
}
.pane:nth-child(2){
    background: #adff2f;
}
.pane:nth-child(3){
    background: #ff4500;
}
.pane h2{
   text-align: center;
}
.text{
   max-width: 300px;
   margin: 20px 0;
}
.text .first{
   margin-top: 60px;
}
.text .third{
   margin-top: 55px;
}
.pane img{
   width: 350px;
   position: absolute;
   bottom: 0;
}
.pane:hover{
   flex-grow: 2.0;
}
.pane .pic2{
    height: 40vh;
}

/*for footer*/
.container1{
    max-width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
    margin-top: 10px;
}
.end{
    background-color: #ff4500;
    padding: 15px;
}
.end-col{
    width: 25%;
    padding: 12px 0;
}
.end-col h4{
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
}
.end-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #adff2f;
    height: 2px;
    box-sizing: border-box;
    width: 40px;
}
.end-col ul li:not(:last-child){
    margin-bottom: 5px;
}
.end-col ul li a{
    font-size: 14px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.2s ease;
} 
.end-col ul li a:hover{
    color: #adff2f;
    padding: 5px;
}
.end-col .socialmedia a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.2s ease;
}
.end-col .socialmedia a:hover{
    color: #000000;
    background-color: #ffffff;
}

/*for responsiveness*/
@media(max-width: 574px){
    /*for smartphones*/
    .container{
        flex-direction: column;
        width: 100%
    }
    .end-col{
        margin-top: 500px;
    } 
    .first{
        margin-bottom: 250px;
        text-align: center;
    }
    .second{
        margin-bottom: 250px;
        text-align: center;
    }
    .third{
        margin-bottom: 250px;
        text-align: center;
    }
    .container{
        margin-bottom: 700px;
    }
    
}
@media(min-width: 1030px){
    
}

